#radio-cards-container {
  margin-top: 5rem;
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-card:hover {
  border: 2px solid #309b42;
  opacity: 0.8;
  cursor: pointer;
}

.radio-card-check {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.radio-card-check i {
  font-size: 1.6rem;
  color: #016787;
}

.text-center {
  text-align: center;
}

.radio-card-icon img {
  height: 50px;
  width: auto;
}

.radio-card-label-description {
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Montserrat';
  font-size: 1rem;
  color: white;
}

.radio-card.selected {
  border: 2px solid #309b42;
}


.radio-card.selected .radio-card-check {
  display: inline-flex;
}

.radio-card-1 {
  background-color: black;
}

.radio-card-2 {
  background-color: #077ca3;
}

.pay-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay-button {
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #7bff4f;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  font-size: 24px;
}