* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Header styling
  ------------------------- */

  nav {
    background-color: #292929;
    padding: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  nav img {
    height: 40px;
    width: auto;
  }

  #logo {
    transform: scale(4, 4);
  }

  /* Main page styling
  ------------------------- */

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .demo-button {
    font-family: 'Poppins';
    font-weight: 600;
    background-color: #333;
    padding: 40px;
    font-size: 72px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 4px 6px 2px #7bff4f;
  }

  .demo-button:hover {
    background-color: #555;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  /* Footer styling
  ------------------------- */

  footer {
    background-color: #292929;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .footer-text {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat';
  }